extends layout
block content
  nav(class='navbar navbar-default navbar-fixed-top', role='navigation', style='width:100%')
    div.container-fluid
      div(class='navbar-header page-scroll')
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-collapse')
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class='navbar-brand page-scroll', href='/') Code:155/20000
      div(class='collapse navbar-collapse', id='navbar-collapse')
        ul(class='nav navbar-nav navbar-right')
          li
            a(class='page-scroll', href='#dambulla') 丹布勒
          li
            a(class='page-scroll', href='#kandy') 康提
          li
            a(class='page-scroll', href='#mandalay') 
          li
            a(class='page-scroll', href='#bagan') 
          li
            a(class='page-scroll', href='#mawlamyine')
  div(style="padding:50px 0 0 0")
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/F9aG80")
            div.flex-caption
              div.caption_title_line
                h2 Horton
                p Foggy
          li
            a
              img.cover-img(src="https://goo.gl/ZaltLA")
            div.flex-caption
              div.caption_title_line
                h2 Dambulla
                p Kid
          li
            a
              img.cover-img(src="https://goo.gl/PMDpTZ")
            div.flex-caption
              div.caption_title_line
                h2 Sigiriya
                p 
          li
            a
              img.cover-img(src="https://goo.gl/FXvLbN")
            div.flex-caption
              div.caption_title_line
                h2 Ella
                p Flower

      div.text-div
        p.
          在斯里蘭卡的時間有將近一半都在山上，而我選擇了一條經典路線，沿著島的山脊而行。 
  div(id='dambulla')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/KFCefY")
            div.flex-caption
              div.caption_title_line
                h2 Dambulla
                p Tree
          li
            a
              img.cover-img(src="https://goo.gl/PqamH9")
            div.flex-caption
              div.caption_title_line
                h2 Dambulla
                p Tuktuk
          li
            a
              img.cover-img(src="https://goo.gl/UOO83f")
            div.flex-caption
              div.caption_title_line
                h2 Dambulla
                p Monk
          li
            a
              img.cover-img(src="https://goo.gl/M9N4Df")
            div.flex-caption
              div.caption_title_line
                h2 Dambulla
                p Girls
          li
            a
              img.cover-img(src="https://goo.gl/bLwR5Z")
            div.flex-caption
              div.caption_title_line
                h2 Sigiriya
                p Lion Rock
      div.text-div
        p.
          Dambulla城裡有座幾近裸露的小山，山上有個小石窟。往山上望去一排緬梔樹挨著路，將要越冬的緬梔樹葉落盡只剩下花在枝節的末端盛開。看完石窟準備下山的時候，剛好碰上一群遠足結束的孩子，孩子身上是白色卻洗不白的校服。
        p.
          當時的我正被沮喪感覆蓋著。
        p.
          隔天在Sigiriya我一個人走在一條荒蕪的小徑，腳跟踢起的黃細沙黏著了我的腿腹，無心猜測聳立的獅子岩是否為城市的秘密。想著撥不下的黃沙還有洗刷不淨的白色校服，以及我的沮喪。

  div(id='kandy')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/G1u98s")
            div.flex-caption
              div.caption_title_line
                h2 Kandy
                p Reflected cat
          li
            a
              img.cover-img(src="https://goo.gl/ifJJUp")
            div.flex-caption
              div.caption_title_line
                h2 Kadny
                p Temple
          li
            a
              img.cover-img(src="https://goo.gl/Lrg4Ig")
            div.flex-caption
              div.caption_title_line
                h2 kandy
                p Police
          li
            a
              img.cover-img(src="https://goo.gl/HECNFD")
            div.flex-caption
              div.caption_title_line
                h2 Kandy
                p Cat

      div.text-div
        p.
          Kandy是繞著湖而建的城，湖邊的大寺裡的鼓樂聲與蓮花乘載佛牙，而佛牙撐著這座城。短暫的停留後我準備從Kandy搭火車沿著島嶼的山線移動。搭上車，接著等待山把能投擲下的景色都毫無保留地投擲下來。火車緩緩切過植被與茶園，東轉西轉爬上南方，穿過雨季末端的濃霧，眼前便是Nuwara Eliya。