extends layout
block content
  nav(class='navbar navbar-default navbar-fixed-top', role='navigation', style='width:100%')
    div.container-fluid
      div(class='navbar-header page-scroll')
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-collapse')
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class='navbar-brand page-scroll', href='/') Code:155/20000
      div(class='collapse navbar-collapse', id='navbar-collapse')
        ul(class='nav navbar-nav navbar-right')
          li
            a(class='page-scroll', href='#xian') 西安
          li
            a(class='page-scroll', href='#tianshui') 天水
          li
            a(class='page-scroll', href='#zhangye') 張掖
          li
            a(class='page-scroll', href='#dunhuang') 敦煌
          li
            a(class='page-scroll', href='#heimahe') 黑馬河
          li
            a(class='page-scroll', href='#caka') 茶卡
                      

  div(style='padding:50px 0px 0px 0px;', id='xian')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/RZcLvd")
            div.flex-caption
              div.caption_title_line
                h2 Xian
                p 大雁塔
          li
            a
              img.cover-img(src="https://goo.gl/mZTFZt")
            div.flex-caption
              div.caption_title_line
                h2 Xian
                p 華清池
          li
            a
              img.cover-img(src="https://goo.gl/7vHSo3")
            div.flex-caption
              div.caption_title_line
                h2 Xian
                p Boy
          li
            a
              img.cover-img(src="https://goo.gl/3ZGDrM")
            div.flex-caption
              div.caption_title_line
                h2 Xian
                p Boy

      div.text-div
        p.
           西安是Ann生活了很久的城市，包含大學時期。是我和釋迦、胖子會合的城市。因為我3/6就出發，我們約了20/6在西安會合。意義上來說，是一切的起點。
        p.
           我們三個很合拍，節奏相近。我們三個，從來不曾在行程上面吵過架，因為我們三個一樣廢。而接下的是一場美好的大西北環線旅行。
        p.
           最後我們在西寧和西藏的團友會合。
        
  div(id='tianshui')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/241uDn")
            div.flex-caption
              div.caption_title_line
                h2 Tianshui
                p Bridview
          li
            a
              img.cover-img(src="https://goo.gl/s8FQZd")
            div.flex-caption
              div.caption_title_line
                h2 Tianshui
                p Buddha
          li
            a
              img.cover-img(src="https://goo.gl/0ru0vI")
            div.flex-caption
              div.caption_title_line
                h2 Tianshui
                p Buddha
          li
            a
              img.cover-img(src="https://goo.gl/Xwtoq1")
            div.flex-caption
              div.caption_title_line
                h2 Tianshui
                p Buddha
      div.text-div
        p.
          到達天水的時候，城市被一大片的雨雲悶著，在傍晚的時候落雨。城市的中心緊鄰著渭河，不遠的麥積山塞滿了古代的泥塑。
        p.
          而我對天水留下的印象就是雨雲和石窟。
        
  div(id='zhangye')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/ic5UBs")
            div.flex-caption
              div.caption_title_line
                h2 Zhangye
                p Danxia
          li
            a
              img.cover-img(src="https://goo.gl/I6fnuy")
            div.flex-caption
              div.caption_title_line
                h2 Zhangye
                p Backlight
          li
            a
              img.cover-img(src="https://goo.gl/58dYvQ")
            div.flex-caption
              div.caption_title_line
                h2 Zhangye
                p Heart-shaped Cloud
          li
            a
              img.cover-img(src="https://goo.gl/9ttujs")
            div.flex-caption
              div.caption_title_line
                h2 Zhangye
                p  Danxia
      div.text-div
        p.
          張掖的青旅很便宜，老闆還免費接送我們到青旅。雖然青旅稍微簡陋一點點，當天晚上還有一個打呼打到快死掉的人。
        p.
          張掖的丹霞地貌很美，但網路上的圖片是不真實的。尤其是像是彩虹般的地貌。但是在傍晚前的夕陽，暖暖的陽光輕輕照在斜面的山面上，前個陡崖的影子蓋著後個陡崖。我真的覺得好美。
        p.
          雖然中國人幫這些地貌取了很多不著邊際的名字。

  div(id='dunhuang')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src='https://goo.gl/sMwkVD')
            div.flex-caption
              div.caption_title_line
                h2 Dunhuang
                p Aircraft 
          li
            a
              img.cover-img(src="https://goo.gl/0y9mJn")
            div.flex-caption
              div.caption_title_line
                h2 Dunhuang
                p 玉門
          li
            a
              img.cover-img(src="https://goo.gl/NmHVFZ")
            div.flex-caption
              div.caption_title_line
                h2 Dunhuang
                p Desert
          li
            a
              img.cover-img(src="https://goo.gl/NzIv7v")
            div.flex-caption
              div.caption_title_line
                h2 Dunhuang
                p Desert

      div.text-div
        p.
          敦煌很美，也是我喜歡的名字。在這之前我想像過的幾名女子穿著羽衣做飛天壁畫，信仰般的藝術品讓我失神。想像過三毛對著玉蓮說話的景色。想像過一無所有的荒漠。
        p.
          所有都實現了。除了夢裡的三毛。

  div(id='heimahe')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/6VHz26")
            div.flex-caption
              div.caption_title_line
                h2 Heimahe
                p Man & Horse
          li
            a
              img.cover-img(src="https://goo.gl/3yfsVy")
            div.flex-caption
              div.caption_title_line
                h2 Heimahe
                p Man
          li
            a
              img.cover-img(src="https://goo.gl/7RXMmE")
            div.flex-caption
              div.caption_title_line
                h2 Heimahe
                p Man
          li
            a
              img.cover-img(src="https://goo.gl/JVNlOV")
            div.flex-caption
              div.caption_title_line
                h2 Heimahe
                p Horse

      div.text-div
        p.
          陰天的青海湖很抑鬱，我只能拍出很抑鬱的情緒。小販無所不在，牽著馬吆喝著騎馬的，裝扮氂牛拍照的。隔天我們出發往西寧的沿途是一片一片的油菜花田，中國政府圈給藏民許多土地，在這些土地上他們種植油菜花田，收費10 元，可以講價。
        p.
          當晚我跟Ann說了我的疑慮。人類怎麼會這樣圈地呢？Ann給出的結論是，我是理想主義者。

  div(id='caka')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/VSx4QU")
            div.flex-caption
              div.caption_title_line
                h2 Caka
                p Salt
          li
            a
              img.cover-img(src="https://goo.gl/0sZgwE")
            div.flex-caption
              div.caption_title_line
                h2 Caka
                p Salt
          li
            a
              img.cover-img(src="https://goo.gl/WYd1Dr")
            div.flex-caption
              div.caption_title_line
                h2 Caka
                p Landscape
          li
            a
              img.cover-img(src="https://goo.gl/xhNUGJ")
            div.flex-caption
              div.caption_title_line
                h2 Caka
                p Landscape

      div.text-div
        p.
          我沒有把這裡當作天空之鏡，我對茶卡感知到的是片荒漠。這是我對茶卡的印象。