extends layout
block content
  nav(class='navbar navbar-default navbar-fixed-top', role='navigation', style='width:100%')
    div.container-fluid
      div(class='navbar-header page-scroll')
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='#navbar-collapse')
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class='navbar-brand page-scroll', href='/') Code:155/20000
      div(class='collapse navbar-collapse', id='navbar-collapse')
        ul(class='nav navbar-nav navbar-right')
          li
            a(class='page-scroll', href='#dali') 大理
          li
            a(class='page-scroll', href='#lugu') 瀘沽湖
          li
            a(class='page-scroll', href='#lijiang') 麗江

  div(style='padding:50px 0px 0px 0px;', id='dali')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/S7w0DY")
            div.flex-caption
              div.caption_title_line
                h2 Dali
                p Xiao
          li
            a
              img.cover-img(src="https://goo.gl/J4Yxn7")
            div.flex-caption
              div.caption_title_line
                h2 Dali
                p Mishka
          li
            a
              img.cover-img(src="https://goo.gl/S6lLVZ")
            div.flex-caption
              div.caption_title_line
                h2 Dali
                p 西貢
          li
            a
              img.cover-img(src="https://goo.gl/ElPp3N")
            div.flex-caption
              div.caption_title_line
                h2 Dali
                p Mountain

      div.text-div
        p.
           第一次是Ann帶我去找Xiao，第二次是我和兩個朋友去山洞找Xiao。 Xiao一直是我非常喜歡的攝影師，他照片裡細膩的情感是我永遠無法趕上的。 在和Xiao對話的時候，可以感受到他對生命的光熱， 也許積極正面不是我們所期待的生命能量，但是我們都真實的面對著生命。
        p.
           大理是我最中國最喜愛的城市，節奏緩慢，有一個大湖，有幾個小鎮。 但是也許是我自己的情感投射，才讓我喜歡大理。
        
  div(id='lugu')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/rTKuwp")
            div.flex-caption
              div.caption_title_line
                h2 Lugu
                p Tree & Sky
          li
            a
              img.cover-img(src="https://goo.gl/EtR3rM")
            div.flex-caption
              div.caption_title_line
                h2 Lugu
                p Bridge
          li
            a
              img.cover-img(src="https://goo.gl/U52InB")
            div.flex-caption
              div.caption_title_line
                h2 Lugu
                p Hiking
          li
            a
              img.cover-img(src="https://goo.gl/krKT55")
            div.flex-caption
              div.caption_title_line
                h2 Lugu
                p Fog
      div.text-div
        p.
          瀘沽湖很美，也很溫柔。剛到的時候是陰天，雲霧也是蓋著這座山裡的湖泊。在進入瀘沽湖前，我們在一塊略凸出的平台聽著車隊的領頭推銷他們的行程，即便是推銷得這麼的誠懇，最後還是符合他推銷的價格的商業模式。後來我稍微後悔，我不該相信他的。
        p.
          這裡不太適合安靜地獨處，也不適合多人狂歡。就是幾個朋友安安靜靜的環湖，安安靜靜地散步吃飯。
  div(id='lijiang')
    div.slider_container(style='padding:0')
      div.flexslider
        ul.slides
          li
            a
              img.cover-img(src="https://goo.gl/hjyrR0")
            div.flex-caption
              div.caption_title_line
                h2 Lijiang
                p Dog
          li
            a
              img.cover-img(src="https://goo.gl/ZPdmXx")
            div.flex-caption
              div.caption_title_line
                h2 Lijiang
                p House
          
      div.text-div
        p.
          一個過度發展的古城。